* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #191919;
  color: #B0A4A4;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #c9af98;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
  font-size: 2.5rem;
  color: #872341;
  font-weight: 600;
  cursor: default;
}



.navbar.open {
  display: block;
  text-align: center;
  background-color: #3F2E3E;
}

.navbar a {
  font-size: 1.7rem;
  color: #872341;
  margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
  color: #872341;
}

#menu-icon {
  font-size: 3.6rem;
  color: #A78295;
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img{
  width: 35vw;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border-radius: 50%;
  font-size: 2rem;
  margin: 3rem 1.5rem 3rem 0;
  color: #872341;
  transition: .5s ease;
  border: .2rem solid black;
}

.social-media a:hover {
  color: #AE445A;
  background: #662549;
  box-shadow: 0 0 1rem fuchsia;

}

.home-content h3 {
  font-size: 3.3rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: #AE445A;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #AE445A;
  border-radius: 4rem;
  color: #872341;
  letter-spacing: .1rem;
  font-size: 1.6rem;
  font-weight: 600;
  box-shadow: 0 0 1rem black;
  transition: .5s ease;
}

btn:hover {
  box-shadow: none;
}
.home-content p {
  font-size: 1.6rem;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #bd8c7d;
  color: #111111;
}

.about-img img {
  width: 35vw;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.works {
  background:#191919;
}

.works h2 {
  margin-bottom: 4rem;
}

.works-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.works-container .works-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem peachpuff;
  overflow: hidden;
  display: flex;
}

.works-box img {
  width: 100%;
}

.works-box .works-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translate(100%);
  z-index: 1;
}

.works-layer h4 {
  font-size: 3rem;
  position: absolute;
}

.work-layer a {
  display: inline-flex;
  align-items: center;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  background: palegoldenrod;
  border-radius: 50%;
}

.works-layer a i {
  font-size: 2rem;
  color: bisque;
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #451952;
  background: blanchedalmond;
  border-radius: .8rem;
  margin: .7rem 0;
}

.contact form .input-box input {
  width: 49%;
  color: #3F2E3E;
}

.contact form textarea {
  resize: none;
  color: #451952;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
}

@media screen and (max-width: 768px) {
  .works-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .works-box {
      margin-bottom: 20px; 
  }

  .works-box img {
      max-width: 100%; 
  }
}



@media (max-width: 768px) {
  #menu-icon {
      display: block;
  }

@media screen and (max-width: 768px) {
  .about {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .about-img img {
      max-width: 100%;
      height: auto; 
      margin-bottom: 20px; 
  }
}

@media screen and (max-width: 768px) {
  .about {
      text-align: center; 
  }

  .about-content {
      margin-bottom: 20px; 
  }

  .about-content .bx {
      display: block; 
      margin: 0 auto; 
  }
}

@media screen and (max-width: 768px) {
  .about {
      text-align: center; 
  }

  .about-content {
      margin-bottom: 20px; 
  }

  .about-content .heading {
      text-align: center; 
  }

  .about-content .bx {
      display: block; 
      margin: 0 auto; 
  }
}

.home {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.home-img img {
  width: 100%; 
  height: auto; 
  max-width: 100%; 
  max-height: 50vh; 
}

@media screen and (max-width: 768px) {
  .home-img img {
    max-width: 60vh; 
    max-height: 50vh; 
  }
}


  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: palegoldenrod;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem rem rgba(0, 0, 0, .2);
    display: none; 
  }
  

  .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
  }
}

.contact{
  background-color: #bd8c7d;
  color: #3F2E3E;
}


footer {
  background: #c9af98;
  color: #872341;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  position: fixed;
  margin-top: auto;
  padding: 20px 0;
}

